<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="MossbauerLab.TinyTcpServer.MnGUI.log" />
      <param name="rollingStyle" value="Size" />
      <param name="maximumFileSize" value="5MB" />
      <param name="appendtofile" value="true" />
      <param name="maxSizeRollBackups" value="3" />
      <param name="staticLogFileName" value="true" />
      <param name="datepattern" value="dd-MM-yyyy HH:mm" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%date [%9.9thread] %-5level %message %newline" />
      </layout>
      <param name="Encoding" value="UTF-16" />
    </appender>

    <logger name="MainLoggerSystem" additivity="false">
      <level value="ALL" />
      <appender-ref ref="Main" />
    </logger>

    <root>
      <level value="ALL" />
      <appender-ref ref="Main" />
    </root>

  </log4net>
</configuration>